<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Change Password</h1>
    <h3>Change password for Username: <span th:text="${user.username}"></span>.</h3>
    <form method="POST" th:action="@{/change-password}" id="changePasswordForm">
        <label for="oldPassword">Old Password: </label>
        <input type="password" name="oldPassword" id="oldPassword"/><br/>

        <label for="newPassword">New Password: </label>
        <input type="password" name="newPassword" id="newPassword"><br/>

        <label for="confirmPassword">Confirm Password: </label>
        <input type="password" name="confirmPassword" id="confirmPassword"><br/>

        <input type="submit" value="Change Password"/>
    </form>
</body>
</html>