<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User</h1>

    <div th:if="${currentAccount} != null">
        <label for="current-account">Current Account: </label>
        <span id="current-account" th:value="${currentAccount.name}"></span>
    </div>

    <form method="POST" th:action="@{/admin/edit-user(userId=${user.id}}" id="registrationForm">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" th:value="${user.username}" disabled="disabled" readonly/><br/>
        <br/>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" /><br/>
        <br/>
        <label for="confirmPassword">Confirm Password: </label>
        <input type="password" name="confirmPassword" id="confirmPassword" /><br/>
        <br/>
        <label for="email">Email: </label>
        <input type="text" name="email" id="email" th:value="${user.email}"/>
        <br/>
        <label for="firstName">First Name: </label>
        <input type="text" name="firstName" id="firstName" th:value="${user.firstName}"/>
        <br/>
        <label for="lastName">Last Name: </label>
        <input type="text" name="lastName" id="lastName" th:value="${user.lastName}"/>
        <br/>

        <label for="newAccount">Choose an account for the user: </label>
        <input list="newAccounts" name="newAccount" id="newAccount">
        <datalist id="newAccounts">
            <option th:each="account : ${accounts}"
                    th:text="${account.name}"
                    th:value="${user.id}">
        </datalist>

        <input type="submit" value="Save"/>
    </form>

</body>
</html>