<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
    <h1>Forgot Password</h1>
    <h2>Enter your email and we'll send you a link to reset your password.</h2>
    <form method="POST" th:action="@{/forgot-password}" id="forgotPasswordForm">
        <Label for="userEnteredEmail" >Enter Email: </Label>
        <input type="text" name="userEnteredEmail" id="userEnteredEmail">

        <input type="submit" value="Submit">
    </form>
</body>
</html>