<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <br/>
    <div th:if="${error}">
        Unable to login. Check your username and password.
    </div>
    <form method="POST" th:action="@{/login}" id="loginForm">
        <div class = "userEntry">
            <label for="username">Username: </label>
            <input type="text" />

            <label for="password">Password: </label>
            <input type="password" name="password"/>
            <input type="submit" value="Login"/>
            <br/>
        </div>
        <input type="submit" value="Login"/>

        <br/>

    </form>
    <p>New here? Click
        <a th:href="@{/registration}">here</a> to register.</p>
</body>
</html>