<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<div th:if="${param.error}">
    Unable to login. Check your username and password.
</div>
<h1>Reset Password</h1>
<!-- tag::thAction[] -->
<form method="POST" th:action="@{/forgot-password/reset(token=${token})}" id="loginForm">
    <!-- end::thAction[] -->
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" /><br/>

    <label for="confirmPassword">Confirm Password: </label>
    <input type="password" name="confirmPassword" id="confirmPassword" /><br/>

    <input type="submit" value="Login"/>
</form>
</body>
</html>