<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>User Homepage</h1>
    <h2>Hello, <span th:text="${user.firstName}">NAME</span>!</h2>

    <div th:if="${user.isAdmin} == true">
        <a th:href="@{/admin-console}" id="admin-console">Admin Console</a>
    </div>

    <form method="GET" th:action="@{/change-password}" id="changePassword">
        <input type="submit" value="Change Password"/>
    </form>

    <form method="POST" th:action="@{/logout}" id="logoutForm">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>